@charset "UTF-8";
/* *{ は全体的に反映させる記述 */
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "メイリオ"!important;
}

.navbar {
  padding:14px!important;
  border-bottom: 3px solid #000;
}

.jumbotron {
  background-image: url(/img/header.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 440px;
  margin-top: 50px;
  padding: 0;
  h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-top: 100px;
    }
    p {
      color: white;
    }
}

#list {
  h2 {
    font-size: 50px;
  }
  .row {
    margin-bottom: 30px;
  }
}

footer {
  ul {
    text-align: center;
    display: flex;
    li {
     padding-right: 20px;
    }
  }
}